.hero {
  background: url(../public/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: aqua;
}

.list::-webkit-scrollbar {
  width: 0;
}
.hero_shadow {
  text-shadow: 4px 5px 7px #3d5448;
}
.post_list_shadow {
  box-shadow: 0px 4px 8px rgba(162, 157, 157, 0.25);
  border-radius: 6px;
}
.post_list_category {
  border-radius: 0px 6px;
}
.post_p_hover p {
  display: none;
}
.post_p_hover:hover p {
  display: block;
}

/* post page  */

.post_page_h1_shadow {
  text-shadow: 0px 4px 8px rgba(162, 157, 157, 0.25);
  border-radius: 6px;
}
